{% extends 'mainapp/master.html' %}
{% load staticfiles %}

{% block content %}
    <section class="products">
        <div class="basket-notice">
            {% include 'mainapp/includes/inc_basket.html' %}
        </div>
        <h1>{{ product.name|capfirst }}</h1>
        <h3>Автор: <em>{{ product.author|capfirst }}</em></h3>
        <div class="img-block">
            <div class="img-container"><img src="/media/{{ product.image }}" alt="Простой Python"></div>
            <p id="shortdesc">
                {{ product.short_desc|capfirst }}
            </p>
            <p id="shortdesc">
                Стоимость: <span class="price">Q{{ product.price }}</span>
            </p>
            <form action="{% url 'basket:add' product.pk %}">
                <button>Купить</button>
            </form>
        </div>
        <h3 class="stub">Характеристики:</h3>
        <ul>
            <li>ISBN: {{ product.isbn|capfirst }}</li>
            <li>Остаток на складе: {{ product.quantity|capfirst }} шт.</li>
        </ul>
        <h3>Подробное описание:</h3>
        <p id="longdesc">
            {{ product.description|capfirst }}
        </p>
    </section>
{% endblock %}