<div class="basket-notice">
    {% if basket_items %}
        <span>
            В корзине {{ basket_items.0.total_quantity }} товар(ов) общей стоимостью
            Q{{ basket_items.0.total_cost }}
        </span>
    {% endif %}
</div>
{% for item in basket_items %}
    <h3>{{ item.product.name }}</h3>
    <div class="img-block">
        <div class="img-container">
            <img src="/media/{{ item.product.image }}" alt="{{ item.product.short_desc }}">
        </div>
        <p id="shortdesc">Цена: Q{{ item.product.price }}</p>
        <p id="shortdesc">Количество:
            <input type="number" name="{{ item.pk }}"
                   min="0"
                   value="{{ item.quantity }}">
        </p>
        <button>
            <a href="{% url 'basket:remove' item.pk %}" class="">
                удалить
            </a>
        </button>
    </div>
{% endfor %}
