{% extends 'authapp/master.html' %}

{% load staticfiles %}

{% block content %}
    <h2>Редактирование профиля</h2>
    <form class="" action="{% url 'auth:edit' %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button>Cохранить</button>
    </form>
    <button>
        <a href="{% url 'main' %}" class="">
            на главную
        </a>
    </button>
    <div class="user_image"><img src="/media/{{ user.avatar }}"></div>
{% endblock %}
