{% extends 'mainapp/master.html' %}
{% load staticfiles %}

{% block content %}
    <section>
        <h1>Каталог</h1>
        <div class="block">
            {% for product in products %}
                <p class="storegrid">
                    <a href="">
                        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                        <br>
                        <span>{{ product.name|capfirst }}</span>
                    </a>
                </p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
