{% extends 'mainapp/master.html' %}
{% load staticfiles %}

{% block content %}
    <section>
        <div>
            {%  now "D d M Y" %}
        </div>
        <h1>Бестселлеры O'Reilly</h1>
        <h2>Добро пожаловать в мир книг издательства O'Reilly</h2>
        <p>
            O'Reilly — одно из крупнейших издательств — начало свою деятельность в 1984 году
            с создания руководств для вендоров операционной системы Unix. На сегодняшний день ассортимент
            наименований этого издательства весьма широк: от книг для любителей цифровой фотографии до изданий,
            предназначенных профессиональным разработчикам программного обеспечения. Книги издательства O'Reilly
            отличаются достоверностью, полезны и интересны.
        </p>
    </section>
{% endblock %}
